#education {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 0.2rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  @include respond(phone) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .education-wrapper {
    @include respond(phone) {
      margin-bottom: 0.2rem;
    }

    .row {
      margin-bottom: 2rem;

      @include respond(phone) {
        margin-bottom: 0.2rem;
      }
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 0.2rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 0.2rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: $mid-font-size;
        }
      }

      &-role {
        font-weight: lighter;
        margin-bottom: 1.8rem;
        font-size: $role-font-size;

        @include respond(phone) {
          font-size: $role-font-size;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__details {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 1rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 1rem;
      }

      &-list {
        margin-left: 0;
        margin-top: 0.3rem;

        @include respond(phone) {
          margin-top: 0;
          font-size: $small-font-size;
        }
      }

      &-description {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        margin-bottom: 0.8rem;
        font-size: $small-font-size;

        @include respond(phone) {
          font-size: $small-font-size;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }
  }
}
